
__pycache__/plot_acc_loss.cpython-39.pyc
damn.h5
/damn.h5
retele_conv.py
*.csv
__pycache__/confusion_matrix_metrics.cpython-39.pyc
*.pyc
*.h5
*.png
*.jpg
debugging_covnet.py
*.pyc
*.pyc
__pycache__/confusion_matrix_metrics.cpython-39.pyc
__pycache__/confusion_matrix_metrics.cpython-39.pyc
*.pyc
